@charset "UTF-8";

@font-face {
  font-family: "Special";
  src: url("../fonts/FZSSK/FZSSK.woff") format("woff"),
       url("../fonts/FZSSK/FZSSK.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+00B7, U+2018, U+2019, U+201c, U+201d, U+2014, U+2026, U+300A, U+300B;
}

@font-face {
  font-family: "FZSSK";
  src: url("../fonts/FZSSK/FZSSK.woff") format("woff"),
       url("../fonts/FZSSK/FZSSK.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "EB Garamond";
  src: url("../fonts/EB_Garamond/EBGaramond-Regular.woff") format("woff"),
       url("../fonts/EB_Garamond/EBGaramond-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "EB Garamond";
  src: url("../fonts/EB_Garamond/EBGaramond-Bold.woff") format("woff"),
       url("../fonts/EB_Garamond/EBGaramond-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "EB Garamond";
  src: url("../fonts/EB_Garamond/EBGaramond-Italic.woff") format("woff"),
       url("../fonts/EB_Garamond/EBGaramond-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "EB Garamond";
  src: url("../fonts/EB_Garamond/EBGaramond-BoldItalic.woff") format("woff"),
       url("../fonts/EB_Garamond/EBGaramond-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}


